# Supabase Configuration
VITE_SUPABASE_URL=https://wfournowizclpiektwuv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indmb3Vybm93aXpjbHBpZWt0d3V2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwOTQxMDUsImV4cCI6MjA5MTY3MDEwNX0.1byW8VpRXa9FlUXfonSQCbC1da6L7CEi1Fm-7HD7dmg
VITE_SUPABASE_PROJECT_ID=wfournowizclpiektwuv

# Backend Keys
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
VITE_STRIPE_PUBLIC_KEY=
